.tip-container {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.title-container {
  width: 141px;
  height: 147px;
  padding-block: 19px;
  padding-inline: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  font-family: "ruberoid-regular";

  color: white;
  border-radius: 6px;
}

.description-container {
  width: 367px;
  height: 146px;
  padding-block: 35px;
  padding-inline-start: 65px;
  padding-inline-end: 38px;
  border-radius: 6px;
  background: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  box-shadow: 0px 6px 10px -5px #56588c;
  font-family: "plusjakartasans-regular";
}
